{% extends "base_index.html" %}

{% block content %}

{% if not current_user.is_authenticated %}
<div class="h-login d-flex justify-content-center align-items-center">
    
    <form action="/" method="POST">
        <div class="d-flex flex-column w-login gap-2">

            <!-- flash message -->
            {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }}">
                <!-- 關掉btn -->
                <button type="button" class="close-btn" data-dismiss="alert">&times;</button>
                {{ message[1]}}
            </div>
            {% endfor %}

            <!-- {{ form.hidden_tag() }} -->

            <div>
                <div class="m-0 fw-bold">{{ form.email.label() }}</div>
                <div class="m-0">{{ form.email(class="w-login") }}</div>
            </div>
            
            <div>
                <div class="m-0 fw-bold">{{ form.password.label() }}</div>
                <div class="m-0">{{ form.password(class="w-login") }}</div>
            </div>
            
            
            <div>
                <div class="fw-bold">{{ form.remember_me.label() }} <span>{{ form.remember_me() }}</span></div>
            </div>
            
            <div>{{ form.submit(class="px-1 btn btn-outline-dark", id="login-btn") }}</div>       
        </div>
    </form>
</div>
{% endif %}

{% endblock %}
{% block scripts %}
<script>
    const btns = document.querySelectorAll(".close-btn");
    btns.forEach(btn => {
        btn.addEventListener('click', () => {
            const parent = btn.parentElement;
            parent.remove();
        });
    });
</script>
{% endblock %}