{% extends "base.html" %}

{% block content %}
    <!-- Machine information -->
    <p class="fw-bold my-0">Machine</p>
    <hr class="mt-0">
    <div class="overflow-hidden mb-5 d-flex flex-row flex-wrap gap-5">
        <div class="d-flex flex-row flex-wrap">
            <canvas class="bg-dark float-start me-3 my-1" id="machine-condition" width="300" height="200"></canvas>
            <!-- machine information from database -->
            <div id="machine-info">
            </div>
        </div>
        <!-- <div>
            <p class="text-center">當前電流</p>
            <div id="curr_current"></div>
        </div> -->
        <div>
            <!-- <p class="text-center">當前碳排</p> -->
            <div id="curr_co2"></div>
        </div>
    </div>

    <div id="machine-sensors"></div>
    <!-- chart for each sensor -->
{% endblock %}

<!-- 右邊狀態資訊列 -->
{% block condition %}
    <!-- <p class="fw-bold my-0">Power Consumption</p>
    <hr class="m-0">
    <p class="mx-1">P=15KW</p> -->

    <!-- <p class="fw-bold my-0">Carbon emissions</p>
    <hr class="m-0">
    <p class="mx-1">3kg/day</p> -->

    <p class="fw-bold my-0">Abnormality detected</p>
    <hr class="m-0">
    <div id="abnormal"></div>
{% endblock %}

{% block scripts%}
<script type="module">
    //three.js to plot 3d chart
    import * as THREE from 'https://cdn.skypack.dev/three@0.130.0';
    import { OrbitControls } from 'https://cdn.skypack.dev/three@0.130.0/examples/jsm/controls/OrbitControls.js';
    import { STLLoader } from 'https://cdn.skypack.dev/three@0.130.0/examples/jsm/loaders/STLLoader.js';

    // machine information
    const machineInfo = document.getElementById("machine-info");
    const machineSensor = document.getElementById("machine-sensors");
    const textalert = document.getElementById("abnormal");
    const scene = new THREE.Scene();   
    const camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 10000);
    const canvas = document.getElementById("machine-condition");
    const renderer = new THREE.WebGLRenderer({ canvas });
    const curr_guage = document.querySelector("#curr_current");
    const curr_co2 = document.querySelector("#curr_co2");
    const dataProcess = ["mean", "rms", "std"];
    
    // 添加環境光
    const ambientLight = new THREE.AmbientLight(0x404040); // 柔和的白光
    scene.add(ambientLight);

    // class
    class Chart {
        constructor (div, upperlimit, lowerlimit) {
            // console.log(div)
            this.div = div;
            this.upperlimit = upperlimit;
            this.lowerlimit = lowerlimit;
        }

        plot(x, y) {
            const chart = document.getElementById(`${this.div}`);
            const info = this.div.split("-");
            const title = `${info[0]}-${info[2]}`;

            // sensor數據
            let trace1 = {
                x: x,
                y: y,
                type: 'scatter',
                mode: 'lines+markers',
                name: title,
                marker: {
                    color: 'rgb(75, 192, 192)',
                    opacity: 0.5,
                },
                // fill: 'tonexty'
            };

            // upper bound
            let trace2 = {
                x: x,
                y: Array(x.length).fill(this.upperlimit),
                alert: alert,
                type: 'scatter',
                mode: 'lines',
                name: 'threshold',
                legendgroup: 'threshold',
                marker: {
                    color: 'rgba(230, 50, 50, 0.8)',
                    opacity: 0.5,
                }
            };

            // loewer bound
            let trace3 = {
                x: x,
                y: Array(x.length).fill(this.lowerlimit),
                alert: alert,
                type: 'scatter',
                mode: 'lines',
                // trace2 trace3 share the same name
                legendgroup: 'threshold',
                showlegend: false,
                marker: {
                    color: 'rgba(230, 50, 50, 0.8)',
                    opacity: 0.5,
                }
            };

            let layout = {
                autosize: false,
                width: 400,
                height: 350,
                hovermode: "closest",
                margin: {
                    l: 50,
                    r: 0,
                    b: 50,
                    t: 50,
                    pad: 4 
                },
                xaxis: {
                    title: 'time',
                    tickmode: 'auto',  // 自動選擇刻度模式
                    nticks: 4
                },
                yaxis: {
                    title: `${title}-value`,    
                    // range: [0, 100],
                    rangemode: "tozero"
                },
                title: {
                    text:title,
                    font: {
                        size: 18
                    }
                },
                legend: {
                    x: 0.2,
                    y: 1.1,
                    orientation: "h",
                },
                font: {
                    size: 14
                }
            };

            let data = [trace1, trace2, trace3];
            Plotly.newPlot(chart, data, layout);
        }

        update(x,y) {
            // Plotly.extendTraces(this.div, { x: [[x]], y: [[y]] }, [0]);
            // Plotly.extendTraces(this.div, { x: [[x]], y: [[this.upperlimit]] }, [1]);

            const div = document.getElementById(this.div);

            div.data[0].x = x;
            div.data[0].y = y;
            // update upper bound
            div.data[1].x = x;
            div.data[1].y = Array(x.length).fill(this.upperlimit);
            // update lower bound
            div.data[2].x = x;
            div.data[2].y = Array(x.length).fill(this.lowerlimit);

            // plotly 更新
            Plotly.redraw(div);
        }
    }

    // three 視角
    class CustomOrbitControls extends OrbitControls {
        constructor(camera, domElement, target) {
            super(camera, domElement);

            //define model translation rotation
            this.enablePan = false;
            this.maxPolarAngle = Math.PI / 2.5;
            this.minPolarAngle = Math.PI / 2.5;
            this.target = target;
        }
    }

    class MachineState {
        constructor() {
            this.machineLoader = new STLLoader();
            this.sensorLoader = new STLLoader();
            this.scene = scene;
            this.camera = camera;
            this.renderer = renderer;
        };

        // 更新畫面
        animate(controls) {
            requestAnimationFrame(() => this.animate(controls));
            controls.update();
            this.renderer.render(this.scene, this.camera);
        };

        //畫模型
        plot(sensors) {
            let stlUrl = `/static/stl/Grinder/grinder.STL`;
            this.machineLoader.load(stlUrl, (geometry) => {
                // 材質設定
                const material = new THREE.MeshBasicMaterial({
                    color: "White",
                    transparent: true,
                    opacity: 0.2
                })

                const mesh = new THREE.Mesh(geometry, material);
                this.scene.add(mesh);

                const boundingBox = new THREE.Box3().setFromObject(mesh);
                const center = new THREE.Vector3();
                boundingBox.getCenter(center);

                const controls = new CustomOrbitControls(this.camera, this.renderer.domElement, center);
                this.camera.position.set(0, 0, center.z * 4.5);
                this.renderer.render(this.scene, this.camera);

                this.animate(controls);

                // 畫sensor位置
                sensors.forEach(sensor => this.plotSensor(sensor));
            })
        };

        // 畫出sensor位置
        plotSensor(sensor) {
            let stlUrl = '/static/stl/sensor.STL';

            // 材質
            const material = new THREE.MeshBasicMaterial({
                color: "green",
                transparent: false,
            })
            sensor.material = material

            this.sensorLoader.load(stlUrl, (geometry)=> {
                let mesh = new THREE.Mesh(geometry, material);

                mesh.position.x = sensor.location_x;
                mesh.position.y = sensor.location_y;
                mesh.position.z = sensor.location_z;

                this.scene.add(mesh);
                machine.controller.sensorState.push({"id":sensor.id, "mesh": mesh});
            })
        };

        // 變換sensor顏色
        changeMaterial(mesh, issafe) {
            console.log(mesh.material.color);
        };
    }

    class Controller {
        constructor () {
            this.machineState = new MachineState();
            this.sensorState = [];
            this.channelId = [];
        }

        // 移動到指定頁面
        btnToPosition(sensor) {
            let btn = document.querySelector(`a[data-sensor-type-id="${sensor.sensor_id}"]`);
            let data = document.querySelector(`div[data-sensortype="${sensor.sensor_id}"]`);

            btn.addEventListener("click", (event) => {toPosition(data)});
        }

        // 機台資訊
        showInfo() {
            fetch(`/machine/{{machine_id}}`)
            .then(res => res.json())
            .then(info => {
                // console.log(info);
                this.createParagraph("name: " + info.name);
                this.createParagraph("type: " + info.machine_type);
                this.createParagraph("location: " + info.location);
                this.createParagraph("work piece: " + info.work_piece);
                this.createParagraph("cutting tool: " + info.cutting_tool);
                this.createParagraph("condition: working");
            });
        }

        // 產生機台資訊
        createParagraph (text) {
            let p = document.createElement("p");
            p.textContent = text;
            p.classList = "my-1";
            machineInfo.append(p);
        };

        // 更新sensor資訊
        update(sensor){
            fetch(`/machine/channels/${sensor.channel_id}`)
            .then(res => res.json())
            .then(datas => {
                dataProcess.forEach(process => {
                    let data = datas.flatMap((data)=>data[process]);
                    let time = datas.flatMap((data)=>[data.time.split(' ')[4]]);
                    sensor.chart[process].update(time, data);
                })

                // 超過預值
                if (this.isdanger(sensor, datas)) {
                    sensor.material.color.set("red");
                }
                else {
                    sensor.material.color.set("green");
                }
            })
        }

        // 判斷sensor資料是否大於預值
        isdanger(sensor, datas) {
            let lastData = datas[datas.length-1];
            if (dataProcess.some(process => lastData[process] >= sensor[`safelimit_${process}`] || lastData[process] <= sensor[`lowerlimit_${process}`])) {
                sensor.isdanger = true;
                return true
            } else {
                sensor.isdanger = false;
                return false
            }
        }

        // btn警示
        btnAlert(sensors, type) {
            let btn = document.getElementById(`${type}-btn`);
            if (sensors.some(sensor => sensor.isdanger)) {
                btn.classList.toggle('animate-color-change', true);
            } else {
                btn.classList.toggle('animate-color-change', false);
            }
        }

        // 文字警示
        textAlert(sensors, type) {
            // textalert
            sensors.forEach(sensor => {
                let element = document.getElementById(`${type}-${sensor.channel_id}-location`);
                if (sensor.isdanger) {
                    if (!element) {
                        let div = document.createElement("div");
                        let location = document.createElement("p");
                        let suggest = document.createElement("p");

                        location.classList = "my-0";
                        suggest.classList = "my-0 text-danger"
                        location.textContent = `${type}-${sensor.location}`;
                        suggest.textContent = "建議-砂輪修整";
                        div.id = `${type}-${sensor.channel_id}-location`;

                        div.append(location);
                        div.append(suggest);
                        textalert.append(div);

                        // this.log(sensor, type)
                    }
                } 
                else {
                    if (element) {
                        element.remove();
                    }
                }
            })    
        }

        // 紀錄資訊在文字文件中
        log(sensor,type) {
            fetch(`/log`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    sensor: type,
                    location: sensor.location,
                    alert: "修整砂輪"
                })
            })
            .then(data => data.json())
            .catch(error => console.error('Error:', error))
        }

        // mailtrap
        // mailAlert(sensor,location,alert) {
        //     fetch(`/message`, {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({
        //             sensor: sensor,
        //             location: location,
        //             alert: alert
        //         })
        //     })
        //     .then(data => data.json())
        //     .catch(error => console.error('Error:', error))
        // }
    }

    class Machine{
        constructor() {
            this.controller = new Controller();
            this.sensors = [];
            this.sensorsType = {};
        }

        // update() {
        //     setInterval(() => {
        //         this.sensors.forEach(sensor => {
        //             console.log(sensor);
        //             this.controller.update(sensor);
        //         });
        //     }, 2000);
        // }

        update() {
            setInterval(() => {
                for (const [id, type] of Object.entries(this.sensorsType)) {
                    let selectedSensors = this.sensors.filter(sensor => sensor.sensor_id == id);
                    selectedSensors.forEach(sensor => this.controller.update(sensor));
                    this.controller.btnAlert(selectedSensors, type)
                    this.controller.textAlert(selectedSensors, type)
                }
                // this.sensors.forEach(sensor => {
                // });
                // this.controller.btnAlert(this.sensors);
            }, 2000);
        }

        run() {
            this.controller.showInfo();
            this.update();
        }
    }

    // co2圖表
    class Guage {
        plot(x,y,chart) {
            // const chart = document.querySelector(`#${div}`);
            let trace1 = {
                x: x,
                y: y,
                type: 'scatter',
                mode: 'lines+markers',
                marker: {
                    color: 'rgb(75, 192, 192)',
                    opacity: 0.5,
                },
                // fill: 'tonexty'
            };
            
            let layout = {
                autosize: false,
                width: 300,
                height: 200,
                hovermode: "closest",
                margin: {
                    l: 50,
                    r: 0,
                    b: 40,
                    t: 0,
                    pad: 0
                },
                xaxis: {
                    title: 'time',
                    tickmode: 'auto',  // 自動選擇刻度模式
                    nticks: 4
                },
                yaxis: {
                    title: "carbon emission",    
                    // range: [0, 100],
                    rangemode: "tozero"
                },
                title: {
                    font: {
                        size: 18
                    }
                },
                legend: {
                    x: 0.2,
                    y: 1.1,
                    orientation: "h",
                },
                font: {
                    size: 14
                }
            };

            let data = [trace1];
            Plotly.newPlot(chart, data, layout);

        }
    }

    const machine = new Machine();

    // 感測器種類
    fetch('/sensors')
    .then(res => res.json())
    .then(sensors => {
        // console.log(sensors);
        sensors.forEach(sensor => {
            // console.log(sensor);
            createSensorDiv(sensor);
            machine.sensorsType[sensor.id] = sensor.type
        });
    })
    .then(() => createSensorData()) //產生感測器數據
    .catch(error => console.error('Error:', error));

    // 產生感測器div
    function createSensorDiv(sensor) {
        let div = document.createElement("div");
        let p = document.createElement("p");
        let hr = document.createElement("hr");

        // 屬性
        div.id = `${sensor.type}-data`;
        div.setAttribute("data-sensorType", sensor.id);
        p.classList = "fs-5 fw-bold my-0";
        hr.classList = "mt-0";

        if (sensor.type === "ACM") {
            p.textContent = "加速規";
        } else if (sensor.type === "CC") {
            p.textContent = "比流計";
        } else if (sensor.type === "MIC") {
            p.textContent = "麥克風";
        }
        div.append(p);
        div.append(hr);
        machineSensor.append(div);
    }

    // 感測器數據
    function createSensorData() {
        fetch("/machine/sensors/{{machine_id}}")
        .then(res => res.json())
        .then(sensors => {

            // 數據圖
            sensors.forEach(sensor => {
                // console.log(sensor);

                let div = document.querySelector(`div[data-sensortype="${sensor.sensor_id}"]`);
                let title = document.createElement("p");
                let chartsDiv = document.createElement("div");

                // 屬性
                title.classList = "fw-bold text-muted my-0";
                title.textContent = sensor.location;
                chartsDiv.classList = "d-flex justify-content-between flex-wrap chart-list";
                chartsDiv.setAttribute("data-id", sensor.channel_id);

                dataProcess.forEach(process => {
                    let chartDiv = document.createElement("div");
                    chartDiv.id = `${div.id.split("-")[0]}-${sensor.channel_id}-${process}`;
                    chartsDiv.append(chartDiv);
                })

                div.append(title);
                div.append(chartsDiv);

                machine.controller.btnToPosition(sensor);
                createChannelDate(div.id.split("-")[0], sensor);
            }
        )
            // 狀態圖
            machine.controller.machineState.plot(sensors);
        })
    }

    // sensor chart
    function createChannelDate(type, sensor) {
        fetch(`/machine/channels/${sensor.channel_id}`)
        .then(res => res.json())
        .then(datas => {
            // console.log(datas)
            sensor.chart = {};
            dataProcess.forEach(process => {
                let div = `${type}-${sensor.channel_id}-${process}`;
                let data = datas.flatMap((data)=>data[process]);
                let time = datas.flatMap((data)=>[data.time.split(' ')[4]]);
                let chart = new Chart(div, sensor[`safelimit_${process}`], sensor[`lowerlimit_${process}`]);
                chart.plot(time,data);

                sensor.chart[process] = chart;
            })
        })
        machine.controller.channelId.push(sensor.channel_id);
        machine.sensors.push(sensor)
    }

    console.log(machine)
    machine.run()

    // 顯示頁面目前位置
    window.addEventListener('scroll', function() {
        let scrollPosition = window.scrollY;
        Object.entries(machine.sensorsType).forEach(([id, sensor]) => {
            const div = document.querySelector(`#${sensor}-data`);
            const btn = document.querySelector(`#${sensor}-btn`);
            const rect = div.getBoundingClientRect();
            const top = rect.top + scrollPosition - 80;
            const bottom = rect.bottom + scrollPosition - 80;

            if (top <= scrollPosition && bottom >= scrollPosition) {
                btn.classList.toggle('text-dark',false);
                btn.classList.toggle('viewer',true);
            } else {
                btn.classList.toggle('text-dark',true);
                btn.classList.toggle('viewer',false);
            }
        }) 
        })

    // test
    const guage = new Guage();
    let time = ['11:07:17','11:08:17','11:09:17','11:10:17','11:11:17']
    let data = [10,11,12,10,10]
    guage.plot(time,data,curr_co2)
    </script>
{% endblock %}